<h1>What do you want to learn about?</h1>
<%= bootstrap_form_for @course do |f| %>
  <%= f.collection_select :topic_id, Topic.all, :id, :title, label: "Topic" %>
  <%= f.text_field :name, label: "Course name" %>
  <%= f.primary %>
<% end %>
