<h1>Welcome to Wikicourses</h1>
<p>What would you like to do?</p>

  <%= link_to "View all courses", "/courses"%>
  <br>
  <%= link_to "Create a course", "/courses/new" %>
  <br>
  <%= link_to "Explore topics", "/topics"%>
